/* Shared Styles */
body{
    font-family: 'Lato', sans-serif; 

}
.btn-primary{
    background: #E55473;
   color: white;
    border-radius: 5px; 
    border: 0;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #E55473;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}